.success_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success_icon {
  padding: var(--awell-spacing-9);
}

.success_text_title {
  margin-top: var(--awell-spacing-4);
  text-align: center;
  font-size: var(--awell-font-size-2xl);
  line-height: var(--awell-leading-6);
  color: var(--awell-slate700);
  font-weight: var(--awell-font-semibold);
  max-width: 320px;
}

.success_text_subtitle {
  margin-top: var(--awell-spacing-4);
  text-align: center;
  font-size: var(--awell-font-size-lg);
  line-height: var(--awell-leading-6);
  color: var(--awell-slate700);
  font-weight: var(--awell-font-medium);
  max-width: 320px;
}